<script type='text/css'>
.accord ul, .accord ul li {
    list-style-type: none;
}

.accord ul li a {
    color: #6E440A;
    text-decoration: none;
}

.accord ul li a:hover {
    color: #523205;
    text-decoration: underline;
}

.accord ul li span {
    color: red;
    margin-right: 0.5%;
    cursor: pointer;	
}

.pl-20 {
    padding-left: 3%;
}

body
{
    background-color:#999;
    height: 100%;
}

h1
{
    font-size:48px;
    margin-top:0;
    font-family:Arial, sans-serif;
    text-shadow:2px 0 15px #292929;
    letter-spacing:4px;
    text-decoration:none;
    color:#DDD;
}

#banner
{
    width:70%;
    height:20%;
    text-align:center;
    background-repeat:no-repeat;
    border-radius:5px;
    margin:30px auto auto;
    padding:40px 0;
}

#main-outer
{
    position: relative;
    width:100%;
}

#main-inner-3
{
    float: left;
    position: relative;
    overflow: hidden;
    width:100%;
    background-color:#770;
}
    
#main-inner-2
{
    float: left;
    width:100%;
    overflow: hidden;
    position: relative;
    right: 15%;
    background-color:#999;
}
    
#main-inner-1
{
    float: left;
    width:100%;
    overflow: hidden;
    position: relative;
    right: 70%;
    background-color:#770;
}
    
#facets1-2
{
    float: left;
    position: relative;
    width: 11%;
    left: 87%;
    text-align:left;
    overflow: hidden;
}

#results-2
{
    float:left;
    position: relative;
    width: 84%;
    left: 90%;
    text-align:left;
    overflow: hidden;
}

#facets1-3
{
    float: left;
    position: relative;
    width: 11%;
    left: 87%;
    text-align:left;
    overflow: hidden;
}

#results-3
{
    float:left;
    position: relative;
    width: 68%;
    left: 100%;
    text-align:left;
    overflow: hidden;
}

#facets2-3
{
    float:left;
    position: relative;
    width:11%;
    left: 91%;
    text-align:left;
    overflow: hidden;
}

input[type=text]{
    text-align: center;
    font: inherit;
    border: 6px solid #a3d8d6;
    padding: 13px 12px;
    font-size: 15px;
    box-shadow: 0 1px 1px #DDD;
    width: 90%;
    outline: none;
    display: inline-block;
    color: #7B8585;
    margin: 0 auto 20px;
}

#results-table{
    text-align: center;
}

#middle
{
    width:70%;
    height:300px;
    text-align:center;
    background-repeat:no-repeat;
    border-radius:5px;
    margin:90px auto auto;
    padding:80px 0;
    float:left;
}

#center
{
    width:70%;
    height:20px;
    text-align:center;
    border-radius:5px;
    margin:10px auto auto;
    padding:10px 0;
    display: inline-block
}
#searchform
{
    width:70%;
    height:30px;
    text-align:center;
    border-radius:5px;
    margin:10px auto auto;
    padding:5px 5px;
    background-color:#999;
    display: inline-block;
}

.lead
{
    text-align: center;
    background-color:rgba(255,255,255,0.6);
    border-radius:3px;
    box-shadow:rgba(0,0,0,0.2) 0 1px 3px;
    font-family:Sintony, sans-serif;
}

.lead form{
    display: inline-block;
}

.lead input{
    display: inline-block;
}

#menu ul{
    list-style:none;
    display: inline-block;
}

#menu ul li{
    display: inline-block;
    padding: 10px 20px;
    cursor:pointer;
    background-color:#eee;
    color:#7B8585;
    
    transition:0.3s;
}

#menu ul li:hover{
    background-color:#beecea;
}

#menu ul li.focused{
    color:#fff;
    background-color:#41c7c2;
}

#facebox .body {
    width: 1800pt !important;
}

</script>