*, input, textarea, button {
  box-sizing: border-box; }

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0;
  padding: 0; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

ul, ol, li, p {
  margin: 0;
  padding: 0; }

[hidden] {
  display: none; }

audio:not([controls]) {
  display: none; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

label, input[type=button], input[type=submit], button {
  cursor: pointer; }

body > script, body > style {
  display: none !important; }

button, input {
  line-height: normal; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

p:first-child, ul:first-child, ol dl:first-child, blockquote:first-child, pre:first-child, h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

input[type="radio"] {
  vertical-align: text-bottom; }

form {
  margin: 0; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }
  img::-moz-selection {
    background: transparent; }

input[type=submit]:focus, input[type=text]:focus, input[type="search"]:focus {
  outline: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-size: 1em; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

sup, sub {
  vertical-align: 0;
  position: relative; }

sub {
  top: .5ex; }

img::-moz-selection {
  background: transparent; }

img::selection {
  background: transparent; }

sup {
  bottom: 1ex; }

li {
  margin-top: 0;
  margin-bottom: 0; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

button {
  width: auto;
  overflow: visible; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
  border-radius: 0; }

img, table, td, blockquote, code, pre, textarea, input, video {
  max-width: 100%; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

\:root {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%; }

audio:not([controls]) {
  display: none; }

button {
  overflow: visible; }

details {
  display: block; }

input[type="number"] {
  width: auto; }
input[type="search"] {
  -webkit-appearance: textfield; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

main {
  display: block; }

summary {
  display: block; }

pre {
  overflow: auto; }

progress {
  display: inline-block; }

small {
  font-size: 75%; }

template {
  display: none; }

textarea {
  overflow: auto; }

[hidden] {
  display: none; }

*, ::before, ::after {
  box-sizing: inherit; }

* {
  font-size: inherit;
  line-height: inherit; }

\::before, ::after {
  text-decoration: inherit;
  vertical-align: inherit; }

*, ::before, ::after {
  border-style: solid;
  border-width: 0; }

* {
  margin: 0;
  padding: 0; }

\:root {
  box-sizing: border-box;
  cursor: default;
  font: 100%/1.5 sans-serif;
  text-rendering: optimizeLegibility; }

html {
  background-color: white;
  color: #333; }

a {
  text-decoration: none; }

audio, canvas, iframe, img, svg, video {
  vertical-align: middle; }

button, input, select, textarea {
  background-color: transparent; }

button, input, select, textarea {
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit; }

button, [type="button"], [type="date"], [type="datetime"], [type="datetime-local"], [type="email"], [type="month"], [type="number"], [type="password"], [type="reset"], [type="search"], [type="submit"], [type="tel"], [type="text"], [type="time"], [type="url"], [type="week"], select, textarea {
  min-height: 1.5em; }

code, kbd, pre, samp {
  font-family: monospace, monospace; }

nav ol, nav ul {
  list-style: none; }

select {
  -moz-appearance: none;
  -webkit-appearance: none; }
  select::-ms-expand {
    display: none; }
  select::-ms-value {
    color: currentColor; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

textarea {
  resize: vertical; }

\::-moz-selection {
  background-color: #1b5063;
  color: #e4af9c;
  text-shadow: none; }

\::selection {
  background-color: #1b5063;
  color: #e4af9c;
  text-shadow: none; }

[aria-busy="true"] {
  cursor: progress; }

[aria-controls] {
  cursor: pointer; }

[aria-disabled] {
  cursor: default; }

[hidden][aria-hidden="false"] {
  clip: rect(0 0 0 0);
  display: inherit;
  position: absolute; }
  [hidden][aria-hidden="false"]:focus {
    clip: auto; }

html {
  height: 100%; }

body {
  height: 100%;
  color: #fff;
  font-family: "proxima-nova", Arial, Helvetica, sans serif;
  background: #0e2a34 url(logo_bg.png) no-repeat top center; }

a {
  color: #fff;
  text-decoration: underline;
  -webkit-transition: 0.3s;
          transition: 0.3s; }
  a:hover {
    color: #c5c5c5; }

#menu {
  position: absolute;
  width: 100%;
  top: 10px;
  left: 0;
  right: 0; }

#banner {
  background: transparent;
  width: 100%;
  height: auto;
  text-align: center;
  border-radius: 0;
  margin: auto;
  padding: 155px 0 140px; }
  #banner h1 {
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 5px;
    font-family: "proxima-nova", Arial, Helvetica, sans serif;
    text-shadow: 0 3px 0 #08191f;
    font-weight: 700;
    letter-spacing: 0.2em;
    text-decoration: none;
    color: #fff; }
  #banner .lead {
    background-color: transparent;
    border-radius: 0;
    box-shadow: 0;
    margin: 0;
    color: #c5c5c5;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.03em; }

#main-outer {
  position: relative;
  width: 100%; }

.main-inner {
  text-align: center;
  float: none;
  width: 100%;
  position: relative;
  z-index: 5;
  right: auto;
  background-color: transparent; }

.homepage .main-inner {
  margin-top: -45px; }

.home-logos {
  max-width: 660px;
  margin: auto;
  margin-bottom: 15px; }

.home-logos h2 {
  color: #c5c5c5;
  text-transform: uppercase;
  margin: 15px auto;
  letter-spacing: 0.07em;
  font-size: 16px; }

.logos {
  background-color: #FFF;
  list-style: none;
  border-top: 3px solid #1b5063;
  border-bottom: 3px solid #1b5063; }
  .logos li {
    display: inline-block;
    max-width: 300px;
    padding: 20px 10px; }
    .logos li img {
      width: 100%; }
  .logos .logo-fs {
    padding-top: 5px; }
  .logos .logo-cepremap img {
    margin-top: 20px; }

.facets {
  float: none;
  position: relative;
  width: 100%;
  max-height: 200px;
  left: auto;
  text-align: left;
  overflow: auto;
  max-width: 300px;
  margin: auto;
  margin-top: -50px;
  margin-bottom: 50px;
  color: #fff; }
  .facets > div {
    height: auto; }
  .facets h2 {
    text-transform: uppercase;
    color: #c5c5c5;
    font-weight: 600;
    letter-spacing: 0.05em;
    margin-bottom: 5px;
    border-bottom: 2px solid #1b5063;
    display: block;
    text-align: center; }
  .facets input[type=checkbox] {
    margin-right: 5px;
    vertical-align: middle; }

.facets li {
  list-style: none;
  text-transform: uppercase;
  color: #eee;
  font-weight: 300;
  margin-bottom: 5px;
  cursor: pointer; }

.formatted-table, .results table, #facebox .content table {
  max-width: 920px;
  margin: 0 auto;
  border-collapse: collapse; }
  .formatted-table th, .results table th, #facebox .content table th {
    padding: 10px 5px; }
  .formatted-table thead, .results table thead, #facebox .content table thead {
    border-bottom: 1px solid #c5c5c5; }
  .formatted-table td, .results table td, #facebox .content table td {
    vertical-align: middle;
    padding: 10px 5px;
    border-bottom: 1px solid #c5c5c5; }
  .formatted-table tbody tr:hover, .results table tbody tr:hover, #facebox .content table tbody tr:hover {
    background-color: #eee; }

.results {
  background: #fff;
  color: #333;
  float: none;
  position: relative;
  z-index: 5;
  width: 100%;
  left: 0;
  text-align: left;
  padding: 90px 0 40px; }
  .results:before {
    content: '';
    display: block;
    height: 140px;
    margin-top: -140px;
    width: 100%;
    background-color: #0e2a34; }
  .results form {
    position: relative;
    max-width: 550px;
    margin: auto;
    margin-top: -90px;
    margin-bottom: 90px; }
  .results form:before {
    content: '';
    background-image: url("sprite.png");
    background-position: 0 0;
    width: 38px;
    height: 38px;
    position: absolute;
    top: 1px;
    left: 1px; }

.provider {
  background-color: #c5c5c5;
  border-radius: 3px;
  padding: 3px 5px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.03em; }

.btn {
  background-color: #542633;
  position: relative;
  padding: 3px 8px;
  height: 28px;
  color: #FFF;
  cursor: pointer;
  outline: none;
  -webkit-transition: 0.3s;
          transition: 0.3s;
  padding-left: 28px; }
  .btn:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    background: transparent url(sprite.png) -88px -5px; }
  .btn:hover {
    background-color: #421e28; }

.btn-download:before {
  background-position: -126px -5px; }

.btn-print, .btn-plot {
  text-indent: 250%;
  width: 28px;
  padding-left: 8px; }

.btn-print:before {
  background-position: -88px -5px; }

.btn-plot:before {
  background-position: -47px -5px; }

.link {
  text-decoration: underline;
  color: #421e28;
  text-align: left; }
  .link:hover {
    color: #542633; }

input[type=text] {
  text-align: left;
  font: inherit;
  border-radius: 40px;
  border: 3px solid #542633;
  height: 40px;
  padding: 4px 4px 4px 42px;
  font-size: 16px;
  width: 100%;
  outline: none;
  display: inline-block;
  color: #333;
  margin: 0 auto;
  background-color: #FFF; }

input[type=submit] {
  position: absolute;
  right: 5px;
  top: 0;
  height: 40px;
  width: 40px;
  font-weight: 600;
  color: #542633;
  outline: none;
  cursor: pointer; }
  input[type=submit]:hover {
    color: #421e28; }

#results-table {
  text-align: center; }

#middle {
  width: 70%;
  height: 300px;
  text-align: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  margin: 90px auto auto;
  padding: 80px 0;
  float: left; }

#center {
  width: 70%;
  height: 20px;
  text-align: center;
  border-radius: 5px;
  margin: 10px auto auto;
  padding: 10px 0;
  display: inline-block; }

#searchform {
  width: 70%;
  height: 30px;
  text-align: center;
  border-radius: 5px;
  margin: 10px auto auto;
  padding: 5px 5px;
  background-color: #999;
  display: inline-block; }

.lead form, .lead input {
  display: inline-block; }

#menu {
  text-align: center; }
  #menu ul {
    list-style: none;
    display: inline-block;
    margin: auto; }
    #menu ul li {
      display: inline-block;
      padding: 5px 0;
      margin: 0 10px;
      cursor: pointer;
      background-color: transparent;
      color: #c5c5c5;
      -webkit-transition: 0.3s;
              transition: 0.3s;
      border-bottom: 3px solid #08191f; }
      #menu ul li:hover, #menu ul li.focused {
        background-color: transparent;
        color: #fff;
        border-bottom-color: #1b5063; }

.main-footer {
  background-color: #0e2a34;
  width: 100%;
  text-align: center;
  padding: 15px;
  margin: auto; }

.copyright {
  font-size: 14px;
  color: #c5c5c5; }
  .copyright a {
    color: #c5c5c5; }
    .copyright a:hover {
      color: #fff; }

.main-footer {
  background-color: #0e2a34;
  width: 100%;
  text-align: center;
  padding: 15px 0;
  margin: auto; }

#facebox {
  color: #333; }

#facebox a {
  color: #421e28; }

#facebox .body {
  width: 1500px !important; }

