<script type='text/css'>
#main-outer
{
    float: left;
    overflow: hidden;
    width:100%;
    background-color:#999;
    position: relative;
}

#main-inner
{
    float: left;
    width:100%;
    position: relative;
    right: 85%;
    background-color:#770;
}
    
</script>