<form action="/facet1" method="post">
  <div id="Accord" class="accord">
    <ul>
      <li><a href="#">Providers</a>
	<ul class="sub">
	  <li><a href="#">Eurostat<input type="checkbox" name="provider" value="Eurostat"></a></li>
 	  <li><a href="#">Insee<input type="checkbox" name="provider" value="Insee"></a></li>
 	  <li><a href="#">World Bank<input type="checkbox" name="provider" value="Insee"></a></li>
	</ul>
      <li>Countries</li>
      <li>Frequencies</li>
      <li>Dates</li>
      </li>
    </ul>
  </div>
  <input type="submit" value="Update">
</form>
