<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Widukind search</title>	
    <link type='text/css' href='static/style.css' rel='stylesheet'>
    <link type='text/css' href='static/facets.css' rel='stylesheet'>
    <script src="static/react-with-addons.js"></script>
    <script src="static/jquery-2.1.3.min.js"></script>
    <link href="static/facefiles/facebox.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="static/facefiles/facebox.js" type="text/javascript"></script>
    <script type="text/javascript"  src="static/dygraph-combined.js"></script>
  </head>	      
  <body>
    <div id="example"></div>
    <script src="static/search.js"></script>
  </body>
</html>
